/* 
    General Styles
*/
.contact-card-container{
    transition: transform 0.3s;
}

.contact-card-container:hover{
    transform: scale(1.03);
    
}

.contact-list {
    display: flex;
    justify-content: center;
}

.contact-list-container {
    width: 100%;
    margin: 20px auto;
}

.contact-card{
    border: 1px solid lightgray;
    border-radius: 2px;
    padding: 20px;
    margin-bottom: 15px;
}

.contact-profile {
    display: flex;
    align-items: center;
    
}

.contact-info {
    flex-grow: 1;
}

.contact-picture {
    margin-right: 15px;
    object-fit: cover;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    
}

.contact-name {
    margin-bottom: 0;
}


.contact-detail {
    margin-bottom: 5px;
}


.fa-trash {
    cursor: pointer;
}

.fa-trash, .fa-pencil {
    width: 35px;
}

.btn-outline-primary {
    color: #007bff;
    border-color: #007bff;
}

.btn-outline-danger {
    color: #dc3545;
    border-color: #dc3545;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover{
    background-color: #5a6268;
    border-color: #545b62;
}

.fixed-button {
    position: fixed;
    bottom: 5px;
    right: 5px;
}
